
%p='wait...'
%script{src: "https://checkout.razorpay.com/v1/checkout.js"}
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}

:javascript
    var options = {
        "key": '#{key_id}', // Enter the Key ID generated from the Dashboard
        "amount": #{amount}, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise or INR 500.
        "currency": "INR",
        "name": '#{organisation}',
        "order_id": '#{order_id}',//This is a sample Order ID. Create an Order using Orders API. (https://razorpay.com/docs/payment-gateway/orders/integration/#step-1-create-an-order). Refer the Checkout form table given below
        "prefill": {
            "name": '#{name}',
            "email": "",
            "contact": ""
        },
        
        "handler": function (response){
            initVerification(response);
        },
        "modal": {
            "ondismiss": function(){
                 window.opener.postMessage({ 
                    status: 'error', 
                    payment_method: "razorpay"
                }, #{request.headers['origin']});
            }
        }
        
    };
    var rzp1 = new Razorpay(options);
        rzp1.open();

    var initVerification  = function(response){
        console.log("veriffffyy")
        var data ={
              "razorpay_payment_id": response.razorpay_payment_id,
              "razorpay_order_id": response.razorpay_order_id,
              "razorpay_signature": response.razorpay_signature
            }
        console.log(data)
        $.ajax({
            'type': "POST",
            'url': window.location.origin + '/razorpay_service/checkout/verify',
            'data': data,
            success: function (res) {
              console.log("verify waaala", res)
              if (res.status == 200) {
                window.location.href = window.location.origin + "/app_pages/payment_success"
                window.opener.postMessage({ 
                    status: 'success', 
                    payment_method: "razorpay",
                    razorpay_payment_id: response.razorpay_payment_id,
                    razorpay_order_id: response.razorpay_order_id,
                    razorpay_signature: response.razorpay_signature
                    
                    }, "#{@current_community.full_url}" );
                }
              if (data.status == 201) {
                console.log("errrrrrrrrrrrrrr.............................");
                window.location.href = window.location.origin + "/app_pages/payment_error"
                window.opener.postMessage({ 
                    status: 'error', 
                    payment_method: "razorpay"
                    
                    },"#{@current_community.full_url}" );
              }
            },
            error: function () {
              console.log("errrrrrrrrrrrrrr.............................")
              window.location.href = window.location.origin + "/app_pages/payment_error"
              window.opener.postMessage({ 
                    status: 'error', 
                    payment_method: "razorpay"
                    },"#{@current_community.full_url}" );

            },
            dataType: 'json'
        });

    }

