= render :partial => "sessions/flex_theme/flex_login_css", locals: MarketplaceHelper.style_customizations_map(@current_community)
.new-password-form 
  .new-password-centered-section
    .req-new-password-instructions
      = render partial: "sessions/flex_theme/forgot_password_keys_svg"
      %h1=t('sessions.password_forgotten.forgot_your_password')
      %p= t('sessions.password_forgotten.flex_password_recovery_instructions')
    = form_tag request_new_password_sessions_path ,  class: "flex-form-group" do
      %label{:for => "email"}
        = t('sessions.password_forgotten.email')
      = text_field_tag("email", params[:q], :class => "text_field request_password")
      .reques-new-or-login
        .remembered-password
          = t("sessions.password_forgotten.remembered_your_password")
          = link_to t('sessions.new.login'),login_path, :class => "green_part_link"
        = button_tag t('sessions.password_forgotten.request_new_password'), :class => "request-new-password-button"
