:css
 .apply-filter-button{
   color: ##{ color1 };
     
 }
 .apply-filter-button:hover{
    color: ##{ ColorUtils.darken(color1, 15) }
 }
 .price-range input{
    border-bottom-color: ##{ color1 };
 }
 .noUi-handle{
    border: 2px solid ##{ color1 };
 }
 .toggle-menu-subitem:hover > .for-left-border{
   width: 6px; 
 }
 .toggle-menu-subitem > .for-left-border{
   background-color: ##{ color1 };
 }
 .toggle-menu-parent-category:hover > .for-left-border{
   width: 6px; 
 }
 .toggle-menu-parent-category > .for-left-border{
   background-color: ##{ color1 };
 }
 .toggle-menu a:hover{
   background-color: #fff;
   color: #000;
 }
 .cancelBtn{
   color: ##{ color1 };
 }
 .applyBtn{
   color: ##{ color1 };
 }
 .cancelBtn:hover{
   color: ##{ ColorUtils.darken(color1, 15) }
 }
 .applyBtn:hover{
   color: ##{ ColorUtils.darken(color1, 15) }
 }
 .change-domain-button:hover{
   border: solid 2px ##{ color1 };
   color: ##{ color1 };
 }
 .listing-view-admin-link .delete-popup-btn{
  cursor: pointer;
  color: ##{ color1 };
 }
 .listing-view-admin-link .delete-popup-btn:hover{
  cursor: pointer;
  color: ##{ ColorUtils.darken(color1, 15) };
 }

 
